<app-loader-not-found *ngIf="isLoading" class="absolute z-[100] w-full h-screen">

</app-loader-not-found>

<main class="w-full h-screen bg-gray-800 flex justify-center items-center">
    <div class="flex flex-col gap-5 justify-center items-center w-full">
      <iframe src="https://lottie.host/embed/8e73c770-54f4-4ce6-9298-ba0de9a76d12/h361gcaoJa.json" width="300px" height="300px"></iframe>
      <h1 class="text-white font-bold text-[2rem]">خطای 404</h1>
      <p class="text-white">! متاسفانه صفحه ای که دنبال ان بودید پیدا نشد </p>
      <button routerLink="/home" class="text-gray-900 bg-[rgb(212,254,0)] z-10 p-2 px-5 text-[0.8rem] rounded-xl font-extrabold
      shadow-[6px_2px_3rem_-5px_rgb(212,254,0)] cursor-pointer transition-all duration-100
      hover:shadow-[0px_0px_0px_0px_rgb(212,254,0)] mt-10 m-auto w-[20%]">برو به صفحه اصلی</button>
    </div>
</main>
